@import url('https://fonts.googleapis.com/css?family=Raleway');

.navbar-collapse{
    justify-content: flex-end;
    font-family: "Verdana";
}
.header{
    padding: 4em 0em 0em 0em;
    font-family: "Raleway";
    color: #1c1a1a;
    background-color: #ffffff;
}
.header h1{
    font-size: 56px;
}
.header h4{
    margin: 1em 0em 0em 0em;
}
.header img{
    margin: 10em 0em 0em 0em;
}
.bg{
    padding: 6em;
    font-family: "Raleway";
}
.bg h2{
    font-weight: bold;
    font-size: 36px;
}
.bg h4{
    margin: 1em 0em 0em 0em;
}
.bg1{
    background-color:#1c1a1a;
    color: #ffffff;
}
.bg1 a{
    color: #ffffff;
}
.bg1 :hover{
    color: #d4d4d4;
}
.bg2{
    background-color:#ffffff;
    color: #1c1a1a;
}
.bg3{
    background-color: #000000;
}
