// Buttons
.btn-white {
    background-color: $color-white;
    color: $color-eerie-black;
}

.btn-eerie-black {
    background-color: $color-eerie-black;
    color: $color-white;
}

.btn-maize-crayola {
    background-color: $color-maize-crayola;
    color: $color-eerie-black;
}

.btn-yellow-orange {
    background-color: $color-yellow-orange;
    color: $color-eerie-black;
}

.btn-fire-opal {
    background-color: $color-fire-opal;
    color: $color-white;
}

.btn-ruber {
    background-color: $color-ruber;
    color: $color-white;
}

.btn-fandango {
    background-color: $color-fandango;
    color: $color-white;
}

.btn-dark-orchid {
    background-color: $color-dark-orchid;
    color: $color-white;
}

.btn-royal-blue-light {
    background-color: $color-royal-blue-light;
    color: $color-white;
}