<section class="py-5" id="contact">
  <div class="py-lg-5 my-lg-4"></div>
  <div class="py-lg-5 my-lg-4"></div>
  <div class="container text-center py-5">
    <text class="display-2 fw-bold text-instagram"> Get In Touch </text>
    <div class="h6 text-white pt-3 pb-5">
      My inbox is always open. Whether you have a question or just want to say
      hi, I’ll try my best to get back to you!
    </div>
    <a
      href="mailto:dwightdiesmo@gmail.com"
      class="btn btn-lg px-5 btn-instagram rounded-0 fw-bold"
      >Say Hello!</a
    >
  </div>
  <div class="py-lg-5 my-lg-4"></div>
  <div class="py-lg-5 my-lg-4"></div>
</section>
