.text-eerie-black {
    color: #151515;
}

.text-maize-crayola {
    color: $color-maize-crayola;
}

.text-yellow-orange {
    color: $color-yellow-orange;
}

.text-fire-opal {
    color: $color-fire-opal;
}

.text-ruber {
    color: $color-ruber;
}

.text-fandango {
    color: $color-fandango;
}

.text-dark-orchid {
    color: $color-dark-orchid;
}

.text-royal-blue-light {
    color: $color-royal-blue-light;
}

.text-silver {
    color: #C5C3C6;
}