// Naming Variables
$color-white: #FFFFFF;
$color-eerie-black: #151515;
$color-platinum: #EBEBEB;
$color-maize-crayola: #FCCC63;
$color-yellow-orange: #FBAD50;
$color-fire-opal: #E95950;
$color-ruber: #CD486B;
$color-fandango: #BC2A8D;
$color-dark-orchid: #8A3AB9;
$color-royal-blue-light: #4C68D7;