$gradient-instagram: linear-gradient(
    45deg, 
    $color-maize-crayola, 
    $color-yellow-orange, 
    $color-fire-opal, 
    $color-ruber, 
    $color-fandango, 
    $color-dark-orchid, 
    $color-royal-blue-light
    );

$gradient-white: linear-gradient(
    45deg, 
    $color-white,
    $color-white
    );

$gradient-white-to-instagram: linear-gradient(
    45deg, 
    $color-white,
    $color-white,
    $color-white,
    $color-white,
    $color-white,
    $color-white,
    $color-white,
    $color-maize-crayola, 
    $color-yellow-orange, 
    $color-fire-opal, 
    $color-ruber, 
    $color-fandango, 
    $color-dark-orchid, 
    $color-royal-blue-light
    );