.terminal {
    background-color: $color-white;
    border-radius: 25px;
    box-shadow: 0rem 0rem 2rem 0rem $color-eerie-black;

}

.terminal-console {
    background-color: $color-eerie-black;
    border-radius: 0px 0px 25px 25px;
}