.bg-eerie-black {
    background-color: #151515;
}

.bg-light-black {
    background-color: #1a1a1a;
}

.bg-maize-crayola {
    background-color: $color-maize-crayola;
}

.bg-yellow-orange {
    background-color: $color-yellow-orange;
}

.bg-fire-opal {
    background-color: $color-fire-opal;
}

.bg-raisin {
    background-color: #202737;
}

.bg-ruber {
    background-color: $color-ruber;
}

.bg-fandango {
    background-color: $color-fandango;
}

.bg-dark-orchid {
    background-color: $color-dark-orchid;
}

.bg-royal-blue-light {
    background-color: $color-royal-blue-light;
}